<div class="container">
  <h1 class="header">🔥 Top Contributors for the Current Week 🔥</h1>

  <% if @weekly_contributors.any? %>
    <ol class="list">
      <% @weekly_contributors.each do |week, data| %>
        <li class="list-item">
          <strong>Week starting <%= week %>:</strong>
          <p class="project-info">Project: <%= @repository %></p>
          <ul class="sub-list">
            <% data[:top_contributors].each_with_index do |contributor_data, index| %>
              <li class="sub-list-item">
                <%= case index
                     when 0 then '🥇'
                     when 1 then '🥈'
                     when 2 then '🥉'
                   end %>
                <%= contributor_data[:contributor] %> - <%= contributor_data[:points] %> points
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p class="no-events">No events found for the current week.</p>
  <% end %>
</div>
